{:default-options {:jvm-opts ["-Duser.language=en" "-Duser.country=US"]}
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        techascent/tech.jna {:mvn/version "3.19"}}
 :paths ["resources" "src" "classes"]}
